.cta-section {
    background: var(--bg-1);
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 160px;
    padding-top: 160px;
    padding-bottom: 160px;
    position: relative;
    overflow: hidden;
}

.cta-section__title {
    text-align: center;
    font-family: 'Nelphim';
    font-size: 88px;
    line-height: 104px;
}

.cta-section__description {
    font-size: 25px;
    list-style: 40px;
    z-index: 1;
}

.cta-section button {
    margin-top: var(--spacing-l);
    margin-bottom: 96px;
}

.cta-section__card {
    width: 100%;
}

.cta-section__card--item:first-child {
    grid-column: 2 / span 5;
}

.cta-section__card--item:last-child {
    grid-column: 7 / span 5;
}

.cta-section__card--booking,
.cta-section__card--payment,
.cta-section__card--management {
    grid-column: span 6;
}

.cta-section__card--bg {
    background: var(--white);
    box-shadow: 8px 24px 48px -12px rgba(0, 0, 0, 0.08);
    border-radius: var(--corner-radius-s);
}

.cta-svg {
    position: absolute;
    opacity: 0.5;
    filter: blur(120px);
}

.cta-svg-1 {
    top: -210px;
    left: 131px;
}

.cta-svg-2 {
    top: -150px;
    right: 199px;
}
