.questions {
    padding-bottom: 240px;
}

.question-header {
    padding-bottom: var(--spacing-2xl);
}

.questions__title {
    font-size: 20px;
    line-height: 32px;
}

.questions__description {
    font-size: 20px;
    line-height: 32px;
}

.collapse-item {
    user-select: none;
    padding: var(--spacing-l) 0;
}

.question-box_content {
    margin-top: 24px;
    display: none;
}

.question-box_content p {
    cursor: auto;
    grid-column: 5 / span 6;
}

.icon-plus {
    display: inline-block;
}

.icon-minus {
    display: none;
}

@media screen and (max-width: 1919px) {
    .questions {
        padding-bottom: 208px;
    }
}

@media screen and (max-width: 1439px) {
    .questions {
        padding-bottom: 160px;
    }
    .questions .niceshoots__aside {
        grid-column: span 2;
    }
    .questions .niceshoots__content {
        grid-column: span 10;
    }
    .question-box_content p {
        grid-column: 3 / span 8;
    }
}

@media screen and (max-width: 1023px) {
    .questions svg {
        width: 32px;
        height: 32px;
    }
}

@media screen and (max-width: 767px) {
    .questions {
        padding-bottom: 112px;
    }
    .questions .niceshoots__aside {
        grid-column: span 1;
        display: flex;
        align-items: center;
    }
    .questions .niceshoots__content {
        grid-column: span 11;
    }
    .question-box_content p {
        grid-column: 2 / span 10;
    }

    .questions__title {
        font-size: 16px;
        line-height: 24px;
    }
    .questions svg {
        width: 24px;
        height: 24px;
    }
}
