.questions {
  padding-bottom: 144px;
}

.question-header {
  padding-bottom: var(--spacing-2xl);
}

.questions__title {
  font-size: 20px;
  line-height: 32px;
}

.questions__description {
  font-size: 20px;
  line-height: 32px;
}

.questions .container__content {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: var(--spacing-s);
}

.questions .container__content div:first-child {
  grid-column: span 8;
}

.questions .container__content div:last-child {
  grid-column: span 6;
}

.collapse-item {
  padding: var(--spacing-l) 0;
}

.collapse-item .container__content {
  gap: 0;
}

.collapse-content {
  max-height: 0;
  margin-top: 0;
  overflow: hidden;
  transition: all 0.15s ease;
}

@supports (-webkit-overflow-scrolling: touch) {
  .collapse-content {
    transition: none;
  }
}

.icon-plus {
  display: inline;
  flex-shrink: 0;
}

.icon-minus {
  display: none;
  flex-shrink: 0;
}

@media screen and (max-width: 1799px) {
  .questions {
    padding-bottom: 208px;
  }
}

@media screen and (max-width: 1439px) {
  .questions {
    padding-bottom: 160px;
  }
  .questions .container__aside {
    grid-column: span 2;
  }
  .questions .container__content {
    grid-column: span 10;
  }

  .questions__description {
    font-size: 16px;
    line-height: 24px;
  }
}

@media screen and (max-width: 767px) {
  .questions {
    padding-bottom: 112px;
  }
  .question-header {
    padding-bottom: var(--spacing-xl);
  }
  .icon-minus {
    width: 24px;
    height: 24px;
  }
  .icon-plus {
    width: 24px;
    height: 24px;
  }

  .questions__title {
    font-size: 16px;
    line-height: 24px;
  }

  .collapse-item {
    padding: var(--spacing-s) 0;
  }

  .collapse-item .container__content > div {
    align-items: start;
  }
  .questions .container__content div:last-child {
    grid-column: span 8;
  }
}
